# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env

# Django
backend/db.sqlite3
backend/*.log

# Flutter/Dart
frontend/.dart_tool/
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Docs / temp files
*.md
*.http
test_*.html
FixIT_API.postman_collection.json
